Repository emma-heriot-watt/experience-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amitkparekh, @aleSuglia, @MalvinaNikandrou

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

feat(datamodels)!: support changes for arena v3 (#137)
  src/emma_experience_hub/constants/simbot.py
  src/emma_experience_hub/datamodels/__init__.py
  src/emma_experience_hub/datamodels/common.py
  src/emma_experience_hub/datamodels/simbot/actions.py
  src/emma_experience_hub/datamodels/simbot/payloads/auxiliary_metadata.py
  src/emma_experience_hub/datamodels/simbot/session.py
  storage/fixtures/simbot/game_metadata/amzn1.echo-api.session.1f12bb8c-20eb-4a09-be31-b752f80235d8_3/36828c5e53ef4d63ae9b9fb4e9aabf5e_metadata.json
  storage/fixtures/simbot/game_metadata/sample-game-metadata.json
Owners: @aleSuglia, @amitkparekh

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

fix: condition when checking whether the agent generated an action (#139)
  src/emma_experience_hub/pipelines/simbot/agent_language_generation.py
Owners: none

chore(release): 3.0.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

feat: only extract features when we need them (#138)
  src/emma_experience_hub/api/clients/feature_extractor.py
  src/emma_experience_hub/api/clients/simbot/__init__.py
  src/emma_experience_hub/api/clients/simbot/features.py
  src/emma_experience_hub/api/controllers/simbot.py
  src/emma_experience_hub/datamodels/simbot/session.py
  src/emma_experience_hub/pipelines/simbot/agent_action_generation.py
  src/emma_experience_hub/pipelines/simbot/agent_intent_selection.py
  src/emma_experience_hub/pipelines/simbot/request_processing.py
Owners: @amitkparekh, @aleSuglia

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

feat: migrate the response templates from the nlg repo (#140)
  docker/simbot-docker-compose.yaml
  src/emma_experience_hub/api/clients/simbot/utterance_generator.py
  src/emma_experience_hub/api/controllers/simbot.py
  src/emma_experience_hub/common/settings/simbot.py
  src/emma_experience_hub/constants/simbot/response_templates.yaml
  tests/constants/test_response_templates.py
  tests/fixtures/clients.py
Owners: @amitkparekh, @aleSuglia

chore(release): 3.2.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

feat: support the new lightweight dialog action (#142)
  src/emma_experience_hub/datamodels/simbot/actions.py
  src/emma_experience_hub/datamodels/simbot/session.py
Owners: @amitkparekh

chore(release): 3.3.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

feat: support updated arena error types (#143)
  src/emma_experience_hub/constants/simbot/response_templates.yaml
  src/emma_experience_hub/datamodels/simbot/actions.py
Owners: @aleSuglia, @amitkparekh

chore(release): 3.4.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

fix: do not include intent type in dialog payload
  src/emma_experience_hub/datamodels/simbot/payloads/dialog.py
  src/emma_experience_hub/datamodels/simbot/response.py
Owners: @amitkparekh

chore(release): 3.4.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

feat: use synonyms for action and room names (#145)
  src/emma_experience_hub/api/clients/simbot/utterance_generator.py
  src/emma_experience_hub/constants/simbot.py
  src/emma_experience_hub/datamodels/simbot/intents.py
  src/emma_experience_hub/parsers/simbot/intent_from_action_status.py
  src/emma_experience_hub/pipelines/simbot/agent_language_generation.py
Owners: @aleSuglia, @amitkparekh

chore(release): 3.5.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

fix: make sure new action status types have intents for them
  src/emma_experience_hub/datamodels/simbot/intents.py
Owners: @amitkparekh

chore(release): 3.5.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

fix: add `arena_unavailable` error to the list of environment errors
  src/emma_experience_hub/datamodels/simbot/intents.py
Owners: @amitkparekh

chore(release): 3.5.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

chore(registry): bump versions in registry
  storage/registry/simbot/production.yaml
Owners: @amitkparekh

chore(registry): bump feature extractor version to 1.1.0
  storage/registry/simbot/production.yaml
Owners: @amitkparekh

ci: add PoeThePoet Poetry plugin to workflows (#149)
  .github/workflows/continuous_integration.yml
  .github/workflows/tests.yml
Owners: @amitkparekh

fix(cli): send logs to cloudwatch every minute
  src/emma_experience_hub/commands/simbot/cli.py
Owners: @amitkparekh

chore(release): 3.5.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

feat!: track state across turns and be able to act on the queue (#148)
  src/emma_experience_hub/api/controllers/simbot.py
  src/emma_experience_hub/datamodels/simbot/__init__.py
  src/emma_experience_hub/datamodels/simbot/actions.py
  src/emma_experience_hub/datamodels/simbot/session.py
  src/emma_experience_hub/datamodels/simbot/speech.py
  src/emma_experience_hub/pipelines/simbot/agent_action_generation.py
  src/emma_experience_hub/pipelines/simbot/agent_language_generation.py
  src/emma_experience_hub/pipelines/simbot/request_processing.py
Owners: @amitkparekh

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

fix: added extra check for sticky note (#152)
  src/emma_experience_hub/datamodels/simbot/session.py
Owners: @amitkparekh

fix: upgraded perception with correct classmap (#157)
  storage/registry/simbot/production.yaml
Owners: @amitkparekh

chore(release): 4.0.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

feat!: Handle value change for `SimBotIntentType.act` (#151)
  src/emma_experience_hub/api/controllers/simbot.py
  src/emma_experience_hub/common/settings/simbot.py
  src/emma_experience_hub/datamodels/simbot/intents.py
  src/emma_experience_hub/parsers/simbot/nlu_output.py
  src/emma_experience_hub/pipelines/simbot/agent_action_generation.py
  src/emma_experience_hub/pipelines/simbot/agent_intent_selection.py
  tests/fixtures/simbot_actions.py
  tests/parsers/simbot/test_nlu_parser.py
Owners: @amitkparekh

chore(release): 5.0.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

fix: added support for action execution error (#158)
  src/emma_experience_hub/constants/simbot/response_templates.yaml
  src/emma_experience_hub/datamodels/simbot/intents.py
Owners: @aleSuglia, @amitkparekh

chore(release): 5.0.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

fix: remove disable search action flag within agent action generation pipeline
  src/emma_experience_hub/api/controllers/simbot.py
  src/emma_experience_hub/pipelines/simbot/agent_action_generation.py
Owners: @amitkparekh

fix: put disable search action flag in the agent intent selection pipeline
  src/emma_experience_hub/api/controllers/simbot.py
  src/emma_experience_hub/pipelines/simbot/agent_intent_selection.py
Owners: @amitkparekh

chore(release): 5.0.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

feat: improve the logging format for OpenSearch (#162)
  src/emma_experience_hub/commands/simbot/cli.py
  src/emma_experience_hub/common/settings/simbot.py
Owners: @amitkparekh

chore(release): 5.1.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

.github/CODEOWNERS:

/.env.example @amitkparekh @aleSuglia
/.env.simbot @amitkparekh
/.flake8 @amitkparekh
/.github/ @amitkparekh
/.gitignore @amitkparekh
/.kodiak.toml @amitkparekh
/.mypy.ini @amitkparekh
/.pre-commit-config.yaml @amitkparekh
/.python-version @amitkparekh
/.releaserc.js @amitkparekh
/.vscode/ @aleSuglia
/CHANGELOG.md @amitkparekh
/docker/ @amitkparekh
/docker/teach-inference.Dockerfile @aleSuglia
/poetry.lock @amitkparekh
/pyproject.toml @amitkparekh
/README.md @amitkparekh
/scripts/ @aleSuglia
/src/emma_experience_hub/__main__.py @aleSuglia
/src/emma_experience_hub/* @amitkparekh
/src/emma_experience_hub/api/* @amitkparekh
/src/emma_experience_hub/api/clients/__init__.py @amitkparekh
/src/emma_experience_hub/api/clients/client.py @aleSuglia
/src/emma_experience_hub/api/clients/dynamo_db.py @aleSuglia
/src/emma_experience_hub/api/clients/emma_policy.py @amitkparekh
/src/emma_experience_hub/api/clients/feature_extractor.py @amitkparekh
/src/emma_experience_hub/api/clients/out_of_domain_detector.py @amitkparekh
/src/emma_experience_hub/api/clients/profanity_filter.py @amitkparekh
/src/emma_experience_hub/api/clients/pydantic.py @amitkparekh
/src/emma_experience_hub/api/clients/simbot/__init__.py @aleSuglia
/src/emma_experience_hub/api/clients/simbot/cache.py @amitkparekh
/src/emma_experience_hub/api/clients/simbot/placeholder_vision.py @amitkparekh
/src/emma_experience_hub/api/clients/simbot/session_db.py @amitkparekh
/src/emma_experience_hub/api/clients/utterance_generator.py @amitkparekh
/src/emma_experience_hub/api/controllers/ @amitkparekh
/src/emma_experience_hub/api/state/__init__.py @aleSuglia
/src/emma_experience_hub/api/state/simbot.py @amitkparekh
/src/emma_experience_hub/commands/build_emma.py @aleSuglia @amitkparekh
/src/emma_experience_hub/commands/simbot/__init__.py @aleSuglia
/src/emma_experience_hub/commands/simbot/cli.py @amitkparekh
/src/emma_experience_hub/commands/teach/ @amitkparekh
/src/emma_experience_hub/commands/teach/__init__.py @aleSuglia
/src/emma_experience_hub/commands/teach/api.py @aleSuglia
/src/emma_experience_hub/commands/teach/cli.py @MalvinaNikandrou
/src/emma_experience_hub/commands/teach/constants.py @aleSuglia
/src/emma_experience_hub/commands/teach/dataset.py @MalvinaNikandrou
/src/emma_experience_hub/commands/teach/download.py @aleSuglia
/src/emma_experience_hub/commands/teach/inference.py @aleSuglia
/src/emma_experience_hub/commands/teach/metrics.py @aleSuglia
/src/emma_experience_hub/commands/teach/xserver.py @aleSuglia
/src/emma_experience_hub/common/ @amitkparekh
/src/emma_experience_hub/common/docker.py @aleSuglia
/src/emma_experience_hub/common/torch.py @aleSuglia
/src/emma_experience_hub/constants/__init__.py @aleSuglia
/src/emma_experience_hub/constants/alexa.py @amitkparekh
/src/emma_experience_hub/constants/model.py @amitkparekh
/src/emma_experience_hub/constants/simbot.py @aleSuglia
/src/emma_experience_hub/constants/simbot/ @aleSuglia
/src/emma_experience_hub/datamodels/* @amitkparekh
/src/emma_experience_hub/datamodels/simbot/* @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/__init__.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/auxiliary_metadata.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/dialog.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/navigation.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/object_interaction.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/payload.py @aleSuglia
/src/emma_experience_hub/datamodels/simbot/payloads/speech_recognition.py @amitkparekh
/src/emma_experience_hub/entrypoints/ @amitkparekh @aleSuglia
/src/emma_experience_hub/parsers/* @aleSuglia
/src/emma_experience_hub/parsers/simbot/ @amitkparekh
/src/emma_experience_hub/parsers/simbot/__init__.py @aleSuglia
/src/emma_experience_hub/parsers/simbot/action_predictor_output.py @aleSuglia
/src/emma_experience_hub/pipelines/* @amitkparekh
/src/emma_experience_hub/pipelines/simbot/__init__.py @aleSuglia
/src/emma_experience_hub/pipelines/simbot/nlu.py @amitkparekh
/src/emma_experience_hub/pipelines/simbot/request_processing.py @amitkparekh
/src/emma_experience_hub/pipelines/simbot/response_generator.py @amitkparekh
/storage/fixtures/simbot/* @aleSuglia
/storage/fixtures/simbot/features/ @amitkparekh
/storage/fixtures/simbot/game_metadata/* @amitkparekh
/storage/fixtures/simbot/game_metadata/amzn1.echo-api.session.1f12bb8c-20eb-4a09-be31-b752f80235d8_3/ @aleSuglia
/storage/registry/ @amitkparekh
/tests/* @amitkparekh
/tests/clients/ @aleSuglia
/tests/datamodels/ @amitkparekh
/tests/datamodels/test_simbot_session.py @aleSuglia
/tests/fixtures/clients.py @aleSuglia
/tests/fixtures/paths.py @amitkparekh
/tests/fixtures/simbot_api_requests.py @amitkparekh
/tests/fixtures/simbot_arena_constants.py @amitkparekh
/tests/fixtures/simbot_paths.py @amitkparekh
/tests/parsers/test_simbot_action_parser.py @amitkparekh
/tests/parsers/test_simbot_low_asr_confidence_detector.py @amitkparekh
/tests/parsers/test_simbot_nlu_parser.py @aleSuglia
