Repository emma-heriot-watt/experience-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amitkparekh, @aleSuglia, @MalvinaNikandrou

fix: manually change parsed intent type if it predicts the old act intent (#163)
  src/emma_experience_hub/parsers/simbot/nlu_output.py
Owners: @amitkparekh

chore(release): 5.1.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

chore: add some more loggers
  src/emma_experience_hub/api/controllers/simbot.py
Owners: @amitkparekh

feat: contextualise CloudWatch logs with identifiers for OpenSearch (#164)
  src/emma_experience_hub/api/simbot.py
  src/emma_experience_hub/commands/simbot/cli.py
Owners: @amitkparekh

chore(release): 5.2.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

fix: importerror for loguru's contextualizer
  src/emma_experience_hub/api/simbot.py
Owners: @amitkparekh

fix: linting error
  src/emma_experience_hub/api/simbot.py
Owners: @amitkparekh

chore(release): 5.2.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

feat: add a new queue to track things in the state (#165)
  src/emma_experience_hub/api/controllers/simbot.py
  src/emma_experience_hub/datamodels/simbot/queue.py
  src/emma_experience_hub/datamodels/simbot/session.py
Owners: @amitkparekh

chore(release): 5.3.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

refactor: easily know whether or not the queue is empty (#167)
  src/emma_experience_hub/datamodels/simbot/queue.py
Owners: @amitkparekh

refactor: add skeleton for the new visual grounding endpoint (#168)
  src/emma_experience_hub/api/clients/emma_policy.py
  src/emma_experience_hub/api/clients/simbot/__init__.py
  src/emma_experience_hub/api/clients/simbot/action_prediction.py
  src/emma_experience_hub/api/controllers/simbot.py
Owners: @amitkparekh, @aleSuglia

feat(parser): create a skeleton for the `SimBotVisualGroundingOutputParser` (#169)
  src/emma_experience_hub/parsers/simbot/__init__.py
  src/emma_experience_hub/parsers/simbot/functions/__init__.py
  src/emma_experience_hub/parsers/simbot/functions/actions.py
  src/emma_experience_hub/parsers/simbot/functions/special_tokens.py
  src/emma_experience_hub/parsers/simbot/visual_grounding_output.py
Owners: @aleSuglia, @amitkparekh

chore(release): 5.4.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

feat(intents): add intents for feedback during search loop (#170)
  src/emma_experience_hub/datamodels/simbot/intents.py
Owners: @amitkparekh

refactor(clients/simbot/action_prediction): rename the method for finding the object in the scene
  src/emma_experience_hub/api/clients/simbot/action_prediction.py
Owners: none

refactor: add methods for getting dialog and environment from turns to `SimBotSession` as a staticmethod
  src/emma_experience_hub/datamodels/simbot/session.py
  src/emma_experience_hub/pipelines/simbot/agent_action_generation.py
Owners: @amitkparekh

chore(release): 5.5.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

feat: support getting the closest viewpoint to the agent for a given turn (#166)
  src/emma_experience_hub/datamodels/common.py
  src/emma_experience_hub/datamodels/simbot/session.py
Owners: @amitkparekh

chore(release): 5.6.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

fix: only use the object class within the payload when the action type is `Examine` (#171)
  src/emma_experience_hub/datamodels/simbot/actions.py
Owners: @amitkparekh

chore(release): 5.6.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  src/emma_experience_hub/_version.py
Owners: @amitkparekh

refactor: move functions out of `parsers/simbot` (#172)
  src/emma_experience_hub/datamodels/simbot/session.py
  src/emma_experience_hub/functions/__init__.py
  src/emma_experience_hub/functions/coordinates.py
  src/emma_experience_hub/functions/simbot/__init__.py
  src/emma_experience_hub/functions/simbot/actions.py
  src/emma_experience_hub/functions/simbot/masks.py
  src/emma_experience_hub/functions/simbot/special_tokens.py
  src/emma_experience_hub/parsers/simbot/action_predictor_output.py
  src/emma_experience_hub/parsers/simbot/functions/__init__.py
  src/emma_experience_hub/parsers/simbot/visual_grounding_output.py
  tests/parsers/simbot/test_action_parser.py
Owners: @amitkparekh, @aleSuglia

.github/CODEOWNERS:

/.env.example @amitkparekh @aleSuglia
/.env.simbot @amitkparekh
/.flake8 @amitkparekh
/.github/ @amitkparekh
/.gitignore @amitkparekh
/.kodiak.toml @amitkparekh
/.mypy.ini @amitkparekh
/.pre-commit-config.yaml @amitkparekh
/.python-version @amitkparekh
/.releaserc.js @amitkparekh
/.vscode/ @aleSuglia
/CHANGELOG.md @amitkparekh
/docker/ @amitkparekh
/docker/teach-inference.Dockerfile @aleSuglia
/poetry.lock @amitkparekh
/pyproject.toml @amitkparekh
/README.md @amitkparekh
/scripts/ @aleSuglia
/src/emma_experience_hub/__main__.py @aleSuglia
/src/emma_experience_hub/* @amitkparekh
/src/emma_experience_hub/api/* @amitkparekh
/src/emma_experience_hub/api/clients/__init__.py @amitkparekh
/src/emma_experience_hub/api/clients/client.py @aleSuglia
/src/emma_experience_hub/api/clients/dynamo_db.py @aleSuglia
/src/emma_experience_hub/api/clients/emma_policy.py @amitkparekh
/src/emma_experience_hub/api/clients/feature_extractor.py @amitkparekh
/src/emma_experience_hub/api/clients/out_of_domain_detector.py @amitkparekh
/src/emma_experience_hub/api/clients/profanity_filter.py @amitkparekh
/src/emma_experience_hub/api/clients/pydantic.py @amitkparekh
/src/emma_experience_hub/api/clients/simbot/__init__.py @aleSuglia
/src/emma_experience_hub/api/clients/simbot/cache.py @amitkparekh
/src/emma_experience_hub/api/clients/simbot/placeholder_vision.py @amitkparekh
/src/emma_experience_hub/api/clients/simbot/session_db.py @amitkparekh
/src/emma_experience_hub/api/clients/utterance_generator.py @amitkparekh
/src/emma_experience_hub/api/controllers/ @amitkparekh
/src/emma_experience_hub/api/state/__init__.py @aleSuglia
/src/emma_experience_hub/api/state/simbot.py @amitkparekh
/src/emma_experience_hub/commands/build_emma.py @aleSuglia @amitkparekh
/src/emma_experience_hub/commands/simbot/__init__.py @aleSuglia
/src/emma_experience_hub/commands/simbot/cli.py @amitkparekh
/src/emma_experience_hub/commands/teach/ @amitkparekh
/src/emma_experience_hub/commands/teach/__init__.py @aleSuglia
/src/emma_experience_hub/commands/teach/api.py @aleSuglia
/src/emma_experience_hub/commands/teach/cli.py @MalvinaNikandrou
/src/emma_experience_hub/commands/teach/constants.py @aleSuglia
/src/emma_experience_hub/commands/teach/dataset.py @MalvinaNikandrou
/src/emma_experience_hub/commands/teach/download.py @aleSuglia
/src/emma_experience_hub/commands/teach/inference.py @aleSuglia
/src/emma_experience_hub/commands/teach/metrics.py @aleSuglia
/src/emma_experience_hub/commands/teach/xserver.py @aleSuglia
/src/emma_experience_hub/common/ @amitkparekh
/src/emma_experience_hub/common/docker.py @aleSuglia
/src/emma_experience_hub/common/torch.py @aleSuglia
/src/emma_experience_hub/constants/__init__.py @aleSuglia
/src/emma_experience_hub/constants/alexa.py @amitkparekh
/src/emma_experience_hub/constants/model.py @amitkparekh
/src/emma_experience_hub/constants/simbot.py @aleSuglia
/src/emma_experience_hub/constants/simbot/ @aleSuglia
/src/emma_experience_hub/datamodels/* @amitkparekh
/src/emma_experience_hub/datamodels/simbot/* @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/__init__.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/auxiliary_metadata.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/dialog.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/navigation.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/object_interaction.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/payload.py @aleSuglia
/src/emma_experience_hub/datamodels/simbot/payloads/speech_recognition.py @amitkparekh
/src/emma_experience_hub/entrypoints/ @amitkparekh @aleSuglia
/src/emma_experience_hub/parsers/* @aleSuglia
/src/emma_experience_hub/parsers/simbot/ @amitkparekh
/src/emma_experience_hub/parsers/simbot/__init__.py @aleSuglia
/src/emma_experience_hub/parsers/simbot/action_predictor_output.py @aleSuglia
/src/emma_experience_hub/pipelines/* @amitkparekh
/src/emma_experience_hub/pipelines/simbot/__init__.py @aleSuglia
/src/emma_experience_hub/pipelines/simbot/nlu.py @amitkparekh
/src/emma_experience_hub/pipelines/simbot/request_processing.py @amitkparekh
/src/emma_experience_hub/pipelines/simbot/response_generator.py @amitkparekh
/storage/fixtures/simbot/* @aleSuglia
/storage/fixtures/simbot/features/ @amitkparekh
/storage/fixtures/simbot/game_metadata/* @amitkparekh
/storage/fixtures/simbot/game_metadata/amzn1.echo-api.session.1f12bb8c-20eb-4a09-be31-b752f80235d8_3/ @aleSuglia
/storage/registry/ @amitkparekh
/tests/* @amitkparekh
/tests/clients/ @aleSuglia
/tests/datamodels/ @amitkparekh
/tests/datamodels/test_simbot_session.py @aleSuglia
/tests/fixtures/clients.py @aleSuglia
/tests/fixtures/paths.py @amitkparekh
/tests/fixtures/simbot_api_requests.py @amitkparekh
/tests/fixtures/simbot_arena_constants.py @amitkparekh
/tests/fixtures/simbot_paths.py @amitkparekh
/tests/parsers/test_simbot_action_parser.py @amitkparekh
/tests/parsers/test_simbot_low_asr_confidence_detector.py @amitkparekh
/tests/parsers/test_simbot_nlu_parser.py @aleSuglia
